<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <!--  without this we get: caller doesn't have permission:android.permission.RECORD_AUDIO -->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:networkSecurityConfig="@xml/network_security_config"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/Theme.Whisper.NoActionBar">
        <activity android:name="com.whispertflite.MainActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DownloadActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DataCollectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Whisper.NoActionBar" />

        <activity
            android:name=".AuthActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Whisper.NoActionBar" />

        <activity
            android:name=".WhisperRecognizeActivity"
            android:exported="true"
            android:clearTaskOnLaunch="true"
            android:launchMode="singleInstance"
            android:visibleToInstantApps="true"
            android:theme="@style/Theme.WhisperFloating"
            android:configChanges="orientation|screenLayout|screenSize|keyboardHidden|keyboard|uiMode|density">
            <intent-filter>
                <action android:name="android.speech.action.RECOGNIZE_SPEECH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".WhisperInputMethodService"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:exported="true"
            android:foregroundServiceType="microphone"
            android:label="@string/voice_input">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/whisper_voice_input" />
        </service>

        <service
            android:name=".WhisperRecognitionService"
            android:directBootAware="true"
            android:exported="true"
            android:foregroundServiceType="microphone"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/voice_input"
            android:permission="android.permission.RECORD_AUDIO">
            <intent-filter>
                <action android:name="android.speech.RecognitionService"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.speech"
                android:resource="@xml/whisper_recognition_service_metadata" />
        </service>

        <activity android:name="com.whispertflite.WhisperRecognitionServiceSettingsActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:theme="@style/Theme.Whisper.ActionBar"
            android:label="@string/voice_input"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

    </application>
</manifest>
